@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
	scroll-behavior: smooth;
}

body {
	animation: 1s ease-out 0s 1 fadeIn;
	background-color: #433878;
	color: #FFE1FF;
	font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: 600;
	font-style: normal; font-variant: normal;
	margin: 0;
	padding: 0;
	transition: 0.6s;

	user-select: none;
	-webkit-user-select:none;
	-webkit-touch-callout:none;
	-moz-user-select:none;
	-ms-user-select:none;

	-ms-overflow-style: none;
	scrollbar-width: none;

} body::-webkit-scrollbar {display: none;}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.aboutPage {
	background-color: #E4B1F0;
	color: #7E60BF;
	transition: 0.6s;
}

header {
	animation: 1s ease-out 0s 1 slideInFromUp;
	width: 100%;
	height: 96px;
	padding: 10px 50px;
	top: 0;
	right: 0;
	position: fixed;
	background-color: #7E60BF;
	box-sizing: border-box;
	transition: 0.5s;
	z-index: 100000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-title {
	font-size: 36px;
	font-weight: 600;
	color: #FFE1FF;
}

header nav {
	display: flex;
	align-items: center;
}

header nav ul {
	margin: 0;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerCollider {
	width: 100%;
	height: 96px;
}

header.sticky {
	height: 75px;
	background: #7E60BF;
	color: rgb(0, 0, 0);
}

header.sticky ul li div {
	color: rgb(255, 198, 0);
}

.menu-toggle {
	float: left;
	font-size: 32px;
	margin-left: 10px;
	cursor: pointer;
	display: none;
}

header nav {
	float: right;
}

header nav ul {
	position: relative;
	margin: 0;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav ul li {
	list-style: none;
}

header nav ul li div {
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding: 0px 20px;
	text-decoration: none;
	display: block;
	transition: 0.6s;
}

header nav ul li div a {
	text-decoration: none;
	color: #FFE1FF;
	transition: 0.6s;
}

header nav ul li div:hover {
	background-color: #E4B1F0;
}

header nav ul li div:hover a{
	color: #7E60BF;
	transition: 0.6s;
}

header.sticky nav ul li div a {
	color: #E4B1F0;
}

header.sticky nav ul li div:hover{
	background-color: #FFE1FF;
}

header.sticky nav ul li div:hover a{
	color: #433878;
}
section {
	padding: 0px 50px;
}

.home-title {
	font-size: 8rem; 
	font-weight: 700;
	line-height: 75%;
}

#contact {
 margin-top: 200px;
 margin-bottom: 200px;
}

section div h1{
	font-weight: normal;
	font-size: 48px;
}

.navButton {
	width: 9rem;
	color: #FFE1FF;
	background-color: #7E60BF;
	border-radius: 10px;
	border: none;
	margin: 10px 0px;
	padding: 10px;
	transition: 0.6s;
	align-items: center;
	text-align: center;
}

.navButton:hover {
	color: #7E60BF;
	background-color: #FFE1FF;
	transition: 0.6s;
}

.navButton a {
	text-decoration: none;
	color: #FFE1FF;
	transition: 0.6s;
}

.navButton a:hover {
	text-decoration: none;
	color: rgb(88, 0, 255);
	transition: 0.6s;
}

.aboutBox {
	background-color: #7E60BF;
	color: #FFE1FF;
	padding: 10px;
}

footer {
	width: 100%;
	height: 100px;
	background-color: #433878;
	color: #E4B1F0;
	margin-top: auto;
}
@media (max-width: 600px) {
	.menu-toggle {
		display: block;
	}
	header nav {
		position: absolute;
		width: 100vw;
		height: calc(100vh - 120px);
		background: rgb(88, 0, 255);
		top: 120px;
		left: -100%;
		transition: 0.5s;
	}
	header nav.active {
		left: 0;
	}
	header nav ul {
		display: block;
		text-align: center;
	}
	header nav ul li a {
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
	header nav.active ul li a {
		padding: 10px 40%;
	}
	header nav ul li div a{
		color: rgb(255, 198, 0);
	}
	header nav ul li div:hover,
	header nav ul li div.active {
		background-color: rgb(255, 198, 0);
	}
	header nav ul li div:hover a,
	header nav ul li div.active a{
		color: rgb(233, 0, 255);
	}
	header.sticky nav {
		height: calc(100vh - 70px);
		background: rgb(255, 198, 0);
		top: 75px;
		left: -100%;
		transition: 0.5s;
	}
	header.sticky nav.active {
		left: 0px;
	}
	header.sticky nav ul li div,
	header.sticky nav ul li div {
		background-color: rgb(88, 0, 255);
	}
	header.sticky nav ul li div:hover,
	header.sticky nav ul li div.active {
		background-color: rgb(233, 0, 255);
	}
	header.sticky nav ul li div a, 
	header.sticky nav ul li div a {
		color: rgb(255, 198, 0);
	}
	header.sticky nav ul li div:hover a,
	header.sticky nav ul li div.active a {
		color: rgb(255, 198, 0);
	}
	section div.section {
		width: 100%;
	}
}
