@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
	scroll-behavior: smooth;
}

body {
	animation: 1s ease-out 0s 1 fadeIn;
	background-color: #433878;
	color: #FFE1FF;
	font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: 600;
	font-style: normal; font-variant: normal;
	margin: 0;
	padding: 0;
	transition: 0.6s;

	user-select: none;
	-webkit-user-select:none;
	-webkit-touch-callout:none;
	-moz-user-select:none;
	-ms-user-select:none;

	-ms-overflow-style: none;
	scrollbar-width: none;

} body::-webkit-scrollbar {display: none;}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
h1, p {
	padding: 0;
	margin: 0;
}

header {
	animation: 1s ease-out 0s 1 slideInFromUp;
	width: 100%;
	height: 10vh;
	padding: 10px 50px;
	top: 0;
	right: 0;
	position: fixed;
	background-color: #7E60BF;
	box-sizing: border-box;
	transition: 0.5s;
	z-index: 100000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-title {
	font-size: 36px;
	font-weight: 600;
	color: #FFE1FF;
}

header nav {
	display: flex;
	align-items: center;
}

header nav ul {
	margin: 0;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerCollider {
	width: 100%;
	height: 10vh;
}

.menu-toggle {
	float: left;
	font-size: 32px;
	margin-left: 10px;
	cursor: pointer;
	display: none;
}

header nav {
	float: right;
}

header nav ul {
	position: relative;
	margin: 0;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav ul li {
	list-style: none;
}

header nav ul li div {
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding: 0px 20px;
	text-decoration: none;
	display: block;
	transition: 0.6s;
}

header nav ul li div a {
	text-decoration: none;
	color: #FFE1FF;
	transition: 0.6s;
}

header nav ul li div:hover {
	background-color: #E4B1F0;
}

header nav ul li div:hover a{
	color: #7E60BF;
	transition: 0.6s;
}
header.sticky {
	height: 75px;
	background: #433878;
	color: #E4B1F0;
}
header.sticky .header-title {
	font-weight: 600;
	color: #E4B1F0;
	transition: 0.6s;
}
header.sticky nav ul li div a {
	color: #E4B1F0;
}
header.sticky nav ul li div:hover{
	background-color: #FFE1FF;
}
header.sticky nav ul li div:hover a{
	color: #433878;
}
section {
	height: 90vh;
	padding: 0px 50px;
	display: flex;
	flex-direction: column;
	justify-content: center; /* Centers content vertically */
	padding: 0px 4vw;
}

.home-title {
	font-size: 12vw; 
	font-weight: 700;
	line-height: 75%;
}

section div div p {
	font-size: 2vw;
}

#contact {
 margin-top: 200px;
 margin-bottom: 200px;
}

section div h1{
	font-weight: normal;
	font-size: 48px;
}

.navButton {
	width: auto;
	color: #FFE1FF;
	background-color: #7E60BF;
	border-radius: 10px;
	border: none;
	margin: 10px 0px;
	padding: 4vh;
	transition: 0.6s;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	font-family: 'Montserrat', sans-serif; font-weight: 600;
	font-size: 2vw;
	text-decoration: none;
	color: #FFE1FF;
	transition: 0.6s;
}

.navButton:hover {
	color: #7E60BF;
	background-color: #FFE1FF;
	text-decoration: none;
	color: #433878;
	transition: 0.6s;
}

.aboutPage {
	background-color: #E4B1F0;
	color: #7E60BF;
	transition: 0.6s;
}

footer {
	width: 100%;
	height: 10vh;
	background-color: #433878;
	color: #E4B1F0;
	margin-top: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
}

@media (max-width: 600px) {
	header {
		height: 10vh;
	}
	.header-title{
		font-size: 24px;
	}
	.menu-toggle {
		display: block;
	}
	header nav {
		position: absolute;
		width: 100vw;
		height: 90vh;
		background: #E4B1F0;
		top: 10vh;
		right: -100%;
		transition: 0.5s;
	}
	header nav.active {
		right: 0;
	}
	header nav ul {
		display: block;
		text-align: left;
		width: 100%
	}
	header nav ul li a { 
		border-bottom: 2px solid rgba(67, 56, 120, 0.2);
	}
	header nav.active ul li a {
		padding: 10px 40%;
	}
	header nav ul li div a{
		color: rgb(67, 56, 120);
	}
	header nav ul li div:hover,
	header nav ul li div.active {
		background-color: #7E60BF;
	}
	header nav ul li div:hover a,
	header nav ul li div.active a{
		color: #FFE1FF;
	}
	header.sticky nav {
		height: calc(100vh - 70px);
		background: #7E60BF;
		top: 75px;
		left: -100%;
		transition: 0.5s;
	}
	header.sticky nav.active {
		left: 0px;
	}
	header.sticky nav ul li div,
	header.sticky nav ul li div {
		background-color: #7E60BF;
	}
	header.sticky nav ul li div:hover,
	header.sticky nav ul li div.active {
		background-color: #E4B1F0
	}
	header.sticky nav ul li div a, 
	header.sticky nav ul li div a {
		color: #E4B1F0;
	}
	header.sticky nav ul li div:hover a,
	header.sticky nav ul li div.active a {
		color: #433878;
	}
	section div.section {
		width: 100%;
	}
	.home-title {
		font-size: 18vw; 
		font-weight: 700;
		line-height: 90%;
	}
	section div div p {
		font-size: 4vw;
	}
	.navButton {
		width: 100%;
		height: 6vw;
		font-size: 4vw;
	}
}
